services:
  soe-web-viewer:
    image: ghcr.io/connor93/eo_web_viewer:latest
    container_name: soe-web-viewer
    restart: unless-stopped
    networks:
      - web

networks:
  web:
    external: true

